body {
    background-color: #EFE7DD;
    flex-direction: row;
    text-align: center;
    text-justify: auto;
    font-family: "Monospace";
}

footer {
    position: fixed;
    bottom: 15px;
    width: 100%;
}

#raquel {
    text-align: left;
}